.navbar{
    background-image: url('../assets/menu-bg.png');
    margin-left: 20px;
    margin-top: 20px;
    padding: unset;
    background-size: cover;
    background-position: 50% 72%;

    .row{
        margin: unset;
        padding: unset;
        height: 100%;
        width: 100%;

        .col-3{
            margin: unset;
            padding: unset;
            background-color: rgba(0,0,0, 0.8);
            border-right: solid 0.5px #888;
        }
    }
}